body{
    background-image:url("../images/background.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    width: 70vw;
    height: 10vh;
    padding-top: 20px;
    margin: 0 auto!important;
    display: flex!important;
    align-items: center;
    justify-content: center;

}
#logo{
    width: 12rem;
}
.container-buttons{
    display: flex;
    width: 28vw;
    height: 5vh;
    margin: 10px auto 0 auto!important;
}
button{
    float: left;
    border: 1px solid grey;
    background: black;
    color: white;
    border-radius: 5px;
    width: 100%!important;
}
button:focus{
    background: #13A84D;
    outline: none;
}
.movie {
    margin-top: 5px;
}
.section-filmes {
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    transition: 250ms all;
}
.section-filmes img{
    width: 150px;
    transition: 250ms all;
    margin: 10px;
}
.section-filmes img:hover{
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.section-individual{
    width: 100vw;
    margin-left: 25px;
    margin-top: 0px!important;
    position: relative;
    display: flex;
    background: red;
    height: 300px;
}
.section-individual img{
    width: 300px;
    margin: 5px;
}